html {
		height: 100%;
}
body {
		margin: 0;
		padding: 0px;
		border: none;
		color: #000000;
		font-family: sans-serif;
		text-align: left;
		height: 100%;
}

img {
	 border: none;
}


p {
	 text-align: justify;
}

.filledDiv {
	background: #E64A45;
}


/* Figure */

figure {
    display: inline-block;
    /* border: 1px dotted gray; */
    /* margin: 20px; adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    /* border: 1px dotted blue; */
    text-align: center;
}
/* LINKS
 ****************************************************************/
a { 
	 text-decoration: none;
	 color: #E64A45;  
} 

a:hover {
		font-style: italic; 
}




/* GENERAL FORMATTING
*******************************************************************/

.test  {
  width: 100%;
  height:600px;
  background-image: url("mountain.jpg");
  text-align:center;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}


.BoxTitle {
	background-color:black;
	height:200;
	width:400;
	text-align:center;
	padding:2px;
	z-index: 1000;
	margin: 0 auto;
}

.SubTitle {
	text-align:center;
	border-style:solid;
	border-color: "black";
    background: black;
    /*height:60;*/
    padding: 40 
}

h2 {
	font-family:Serif;
	text-align: center;
	font-size: 40px;
	/* border-bottom:solid; */
	/* border-bottom-width: thick; */
	width: 70%;
	margin: 30 auto;
	padding: 0 0 30 0;
	color : #586473
}

h3 {
	font-family:Serif;
	text-align: center;
    /*padding: 5px 0 0px 0px;*/
	vertical-align: middle;
	/*text-align: left;*/
	font-size: 20px;
	color: white;
	margin: 2;
}

p1 {
	font-family:Arial;
	color:black;
	font-size:25;
}
.contact {
	text-align: center;
	height: 100;
	font-style: Serif;
	background: black;
	color: white; 
}

.footer {
	background: black;
	height: 200
}
/* DIV BASED TABLES */

.table { 
	display: table; 
}
.row { 
	display: table-row; 
}
.cell { 
	display: table-cell; 
}

/* IN SITE NAVIGATION */
.PageLink {
    color: white;
    font-family: Serif;
    font-size: 20pt;
    font-weight: 500;
	/*text-align: center;*/
    /*font-style: italic;*/
    padding: 100 0 0 100;
	/*vertical-align:middle*/
}

.ResearchLink {
	font-family:Serif;
	text-align: center;
	font-size: 40px;
	color: white;
	/*border-bottom:solid;*/
	width: 70%;
	margin: 30 auto;
	padding: 0 0 30 0;
}

.navigator {
    padding: 10px;
    /*border-right: dotted 1px #606060;*/
    background: #ffffff;
    min-height: 400px;
    height: auto;
    margin: 0px;
    text-align: justify;
    margin: 0px 230px 0px 0px;
    position: relative;
}

/* DROPDOWN MENU */

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
